body {
font-size: 16pt;
font-family: 'Nunito', sans-serif;
margin: 0;
}

.name {
display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
width: 100%
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: black;
}
.name-link {
font-size: 32pt
}

ul {
list-style-type: none;
padding: 0
}

.header {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.header-item {
  width: 100%;
  padding: 10px 0;
  text-align: center;
}
.header-item a {
  display: block;
  width: 100%;
  height: 100%;
}

.about-line {
list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.about-line-item {
  width: 100%;
  padding: 10px;
  text-align: center;
  position: relative;
}

.name-link {
    margin: 16pt;
    width: 30%
}

footer {
background: #3e3e3e;
color: white;
text-align: center;
margin-top: 16pt;
padding: 8pt;
}

footer a {
color: white
}

.about-us {
font-size: 32pt;
text-align: center;
}

.about-us-description-1 {
text-align: left;
position: absolute;
font-size: 20pt;
top: 30%;
left: -7%
}

.about-us-description-2 {
text-align: left;
position: absolute;
font-size: 20pt;
top: 30%;
left: 10%
}

.decoration-item-1 {
width: 10%
}

.about {
padding: 2pt;
}

.about-decor-line {
border: 1px solid;
width: 90%
}

.about-text-container {
    text-align: center;
    margin-bottom: 32pt
}

.about-text-2 {
font-size: 32pt;
font-style: bold
}

.about-text-3 {
font-size: 24pt;
}

.about-text-to-search {
font-size: 18pt;
}

.links-footer {
list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.posts-container {
margin-left: 10%;
padding: 50dp
}

.posts {
width: 100%;
}

.post-line {
margin: auto
}

.index-title {
font-size: 28pt;
margin-left: 16pt;
margin-bottom: 32pt;
}

.middle-content-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.contact {
font-size: 32pt
}

.post-part {
margin-left: 1%
}

.post-part-2 {
display: table;
}

.contact-container {
text-align: center;
display: table-cell;
vertical-align: middle;
}

.price {
font-size: 32pt;
}

.call {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 10%;
  line-height: 45px;
  border-radius: 45px;
  margin-top: 8pt;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}
.call:hover {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: white;
  transform: translateY(-7px);
}

.area {
margin: 8pt
}

.description {
margin: 8pt
}

.content {
height: 80vh;
}

.reviews-title {
font-size: 32pt;
margin: 8pt;
}

.review {
margin: 32pt;
}
.reviewer {
margin-left:80%
}
